@import 'reset.css';
@import 'normalize.css';

:root {
    --beaver: #87635a;
    --black: #000;
    --clam-shell: #caafa7;
    --dawn-pink: #f5eeec;
    --fantasy: #fcf8f6;
    --graphite: #260f08;
    --mountain-meadow: #1ea575;
    --parlap: #ad8a85;
    --tia-maria: #c73b0f;
    --white: #fff;
  
    --red-hat-ff: "Red Hat Text", sans-serif;
  }
  
  .hidden {
    display: none !important;
  }
  
  body {
    background-color: var(--fantasy);
    padding-bottom: 24px;
    font-family: var(--red-hat-ff);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main {
    background-color: var(--white);
    min-height: 600px;
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 32px 24px 32px 24px;
  }
  
  h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 24px;
  }


  form {
    background-color: var(--fantasy);
    padding: 24px;
    margin-bottom: 16px;
  }
  
  label {
    display: block;
    margin-bottom: 4px;
    font-weight: 700;
  }


  input {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    outline: none;
    border: 2px solid var(--fantasy);
    padding: 4px 8px;
    border-radius: 8px;
  }

  button{
        background-color: var(--tia-maria);
        color: var(--white);
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        text-decoration: none;
        border-radius: 28px;
        cursor: pointer;
        border: none;
        width: 100%;
  }